$header-height: 60px;
$radius: 3px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$white-color: #ffffff;
$body-color: #fafafa;
$black-color: #262626;
$border-color: #dbdbdb;
$blue-color: #0095f6;
$muted-color: #8e8e8e;

$smallest-size: 10px;
$smaller-size: 11px;
$small-size: 12px;
$regular-size: 14px;
