@mixin flex($display: flex, $jc: center, $ai: center, $direction: row) {
  display: $display;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
}

@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    @media (min-width: 768px) {
      @content;
    }
  } @else if ($width == "desktop") {
    @media (min-width: 992px) {
      @content;
    }
  }
}
