aside.sidebar
    .user-box
        .user-box-left
            a.user-box-img
                img(src=`${assetsUrl}/user.png`)
            .user-box-text
                a.username serdargoleli
                p.fullname.text-muted Serdar Göleli
        .user-box-right
            a(href="/").change-profile Geçiş Yap    
    .other-people-text
        span Senin İçin Öneriler
        a(href="/") Tümünü Gör
    .other-peoples
        .user-box.minify
            .user-box-left
                a.user-box-img
                    img(src="http://placeimg.com/640/480/people")
                .user-box-text
                    a.username Grace
                    p.fullname.text-muted Instagram'da Yeni
            .user-box-right
                a(href="/").change-profile Takip Et    
        .user-box.minify
            .user-box-left
                a.user-box-img
                    img(src="http://placeimg.com/641/484/people")
                .user-box-text
                    a.username Jessie
                    p.fullname.text-muted Instagram'da Yeni
            .user-box-right
                a(href="/").change-profile Takip Et    
        .user-box.minify
            .user-box-left
                a.user-box-img
                    img(src="http://placeimg.com/642/483/people")
                .user-box-text
                    a.username Aiyana
                    p.fullname.text-muted Instagram'da Yeni
            .user-box-right
                a(href="/").change-profile Takip Et    
        .user-box.minify
            .user-box-left
                a.user-box-img
                    img(src="http://placeimg.com/643/482/people")
                .user-box-text
                    a.username Mayra
                    p.fullname.text-muted Instagram'da Yeni
            .user-box-right
                a(href="/").change-profile Takip Et    
        .user-box.minify
            .user-box-left
                a.user-box-img
                    img(src="http://placeimg.com/644/481/people")
                .user-box-text
                    a.username Brett
                    p.fullname.text-muted Instagram'da Yeni
            .user-box-right
                a(href="/").change-profile Takip Et    
    .links
        a(href="/") Hakkında
        a(href="/") Yardım
        a(href="/") Basın
        a(href="/") API
        a(href="/") İş Fırsatları
        a(href="/") Gizlilik
        a(href="/") Koşullar
        a(href="/") Konumlar
        a(href="/") Başlıca Hesaplar
        a(href="/") Konu Etiketleri
        a(href="/") Dil
    p &copy; 2021 INSTAGRAM FROM META


