.stories
    .stories-box
        .img-box
            img(src="http://placeimg.com/640/480/business" alt="")
        p.username Abdiel
    .stories-box
        .img-box
            img(src="http://placeimg.com/641/481/business" alt="")
        p.username Gloria

    .stories-box
        .img-box
            img(src="http://placeimg.com/642/482/business" alt="")
        p.username Aliyah
    .stories-box
        .img-box
            img(src="http://placeimg.com/643/483/business" alt="")
        p.username Heather
    .stories-box
        .img-box
            img(src="http://placeimg.com/644/484/business" alt="")
        p.username Elza
    .stories-box
        .img-box
            img(src="http://placeimg.com/645/485/business" alt="")
        p.username Rosalia
    .stories-box
        .img-box
            img(src="http://placeimg.com/646/486/business" alt="")
        p.username Claire
