doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Instagram Clone Project
        base(href="/")
        link(rel='stylesheet' href='./dist/css/main.css' type='text/css' )
    body 
        include ../partials/navbar 
        block content
