extends layout/layout.pug

block content 
    main.main.container
        .row
            .col-12.col-lg-8
                include ./partials/main-content 

            .d-none.d-lg-block.col-lg-4.position-relative
                include ./partials/sidebar 






